* {
  box-sizing: border-box;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.AppBar {
  width: 100%;
  height: 20px;
  padding: 2px;
  background-color: #000080;
  border-bottom: 1px solid #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.AppBarItems {
  display: inline-flex;
}
.AppBarName {
  align-content: flex-start;
  font-size: 11px;
  margin-left: 21px;
  vertical-align: top;
  height: 19px;
  position: relative;
}
.AppBarName::before {
  background-image: url("assets/title-icon.gif");
  content: " ";
  width: 15px;
  height: 15px;
  display: block;
  top: 3px;
  left: -18px;
  position: absolute;
}
.AppBarTitleText {
  line-height: 19px;
}
.AppBarButtons {
  align-content: flex-end;
  height: 19px;
  padding: 2px;
  font-size: 9px;
  font-weight: bold;
}
.AppBarButton {
  width: 15px;
  height: 13px;
  border: 1px outset;
  background-color: #c0c0c0;
  color: #000;
  text-align: center;
  box-shadow: 1px 1px #000;
  margin-right: 4px;
  display: inline-block;
  line-height: 11px;
  position: relative;
}
.AppBarButton::before {
  position: absolute;
  width: 13px;
  height: 11px;
  display: block;
  top: 0px;
  left: 0px;
  content: " ";
}
.MinimizeButton::before {
  background-image: url("assets/minimize.gif");
}
.MaximizeButton::before {
  background-image: url("assets/maximize.gif");
}
.CloseButton::before {
  background-image: url("assets/close-button.gif");
}
.MenuBar {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #000;
  background-color: #c0c0c0;
  text-align: left;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.MenuWrapper {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  color: black;
  padding: 0 6px;
  cursor: pointer;
  position: relative;
}
.MenuTitle {
}
.MenuTitle::first-letter {
  text-decoration: underline;
  text-transform: uppercase;
}
.MenuBody {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100%;
  left: 0;
  background: red;
}
.MenuContainer,
.CustomSettingsModal {
  text-align: center;
  width: 300px;
  background: black;
  padding: 10px;
  margin: 0 auto;
  color: white;
}

.MenuContainer li,
.CustomSettingsModal input {
  cursor: pointer;
  display: block;
  width: 80%;
  margin: 5px auto;
  text-align: center;
  background: red;
  color: white;
  padding: 5px;
  border: 1px solid white;
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  text-align: right;
}
.outerBorder {
  border: 1px solid #000;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 30px auto 0 auto;
}
.GameBoard {
  border: 3px outset;
  padding: 6px;
  background-color: #c0c0c0;
}

.CellsWrapper {
  border: 3px inset;
}
.GameBoardCell {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px outset;
  vertical-align: top;
  background: #c0c0c0;
  text-align: center;
  line-height: 30px;
}

.ShowCell {
  background: #c0c0c0;
  border: 1px solid #808080;
}

.FlaggedCell {
  background-image: url("assets/flag-small.gif");
}
.MisFlagged {
  background-image: url("assets/misflagged.gif");
  border: 1px solid #808080;
}
.MineCell {
  background-image: url("assets/mine.gif");
  border: 1px solid #808080;
}
.LossCell {
  background-color: #ff0000;
  background-image: url("assets/mine.gif");
  border: 1px solid #808080;
}
.MouseDownCell {
}
.OneCell {
  color: #0000ff;
}
.TwoCell {
  color: #008000;
}
.ThreeCell {
  color: #ff0000;
}
.FourCell {
  color: #000080;
}
.FiveCell {
  color: #800000;
}
.SixCell {
  color: #008080;
}
.SevenCell {
  color: #840084;
}
.EightCell {
  color: #000000;
}
.BoardMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px inset;
  padding: 4px 5px;
  margin-bottom: 6px;
}

.MineCounter,
.RestartButton,
.Timer {
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.MineCounter,
.Timer {
  width: 42px;
  background: #000;
  color: #ff0000;
  border: 1px inset;
  text-align: center;
}
.CounterNumber {
  background-image: url("assets/numbers.gif");
  width: 11px;
  height: 21px;
  display: inline-block;
  margin-right: 2px;
}
.CounterNumber:last-of-type {
  margin-right: 0;
}
.FaceButton {
  width: 26px;
  height: 26px;
  background-image: url("assets/faces.gif");
  content: " ";
}
